<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @inventory.title %>
</p>

<p>
  <b>Aisle:</b>
  <%= @inventory.aisle %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
